body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }


.flag {
    height: 100%;
    display: flex;
    flex-direction: column;
 }


.blue, .red, .green {
    flex: 1;
}

  
.blue{
    background-color: #00b5e2;
}


.red{
    background-color: #ef3440;
}


.green{
    background-color: #509e2f;
}

.container{
    display: flex;             
    justify-content: center; 
    align-items: center;       
    position: relative;
    top: 17%;
}

.moon{
  position: relative;
  content: "";
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: -13px 0 0 10px white ;
  margin-right: 20px;
}

.star{
    width: 60px;            
    height: 60px;
    margin-bottom: 70px;
    margin-top: 30px;
    margin-left: -60px;
    
}

.star .point{
  width: 100px; 
  height: 100px;
  clip-path: polygon(100% 50%,73.1% 59.57%,85.36% 85.36%,59.57% 73.1%,50% 100%,40.43% 73.1%,
  14.64% 85.36%,26.9% 59.57%,0% 50%,26.9% 40.43%,14.64% 14.64%,
  40.43% 26.9%,50% 0%,59.57% 26.9%,85.36% 14.64%,73.1% 40.43%);
  background-color: white;
  margin-right: 60px;
}
